!!! 5
%HTML{lang: "en"}
  = partial "_header"
  %body
    = partial "_nav"
    .container
      .main
        .content
          = partial "_title_image"
          = partial "_guide_trail"
          = preserve yield
          = partial "_guide_trail"
          = partial "_footer"
