!!! 5
%HTML{lang: "en"}
  = partial "_header"
  %body
    = partial "_nav"
    .container
      .main
        .sidebar-wrapper
          .sidebar-nav
            .section
              = partial "_sidebar"
        .content-wrapper
          .content
            .section
              = partial "_title_image"
              = preserve yield
            = partial "_footer"
