- page = Page.new(current_page,data)

!!! 5
%HTML{lang: "en"}
  = partial "_header"
  %body
    = partial "_nav"
    .container
      .main
        .content
          = partial "_title_image"
          - if page.has_previous
            %a{ :href => page.get_previous}
              %p Previous Section
          = preserve yield
          - if page.has_next
            %a{ :href => page.get_next}
              %p Next Section
          = partial "_footer"
