- biobox_yaml('https://raw.githubusercontent.com/bioboxes/data/master/images.yml').each do |type, images|
  %h1
    = type
  - images.each do |image|
    %div{class: "biobox", id: biobox_id(image["image"]["dockerhub"])}
      %h3
        = image["image"]["dockerhub"]
      %p
        = image["description"]
      %table.table
        %tr
          %td
            %span{:class => "glyphicon glyphicon-envelope", :"aria-hidden" => "true"}
          %td
            %a{href: dockerhub_url(image)}
              Docker Image
        - if image["pmids"]
          %tr
            %td
              %span{class: "glyphicon glyphicon-file" }
            %td
              %ol{:class => "biobox-pubmed-list"}
                - image["pmids"].each_with_index do |pmid, index|
                  %li
                    %a{href: pubmed_url(pmid)}
                      Pubmed Entry
        - biobox_values(image).each do |(avail, url, text)|
          %tr
            %td
              - if avail
                %span{class: "glyphicon glyphicon-ok biobox-item-good" }
              - else
                %span{class: "glyphicon glyphicon-remove biobox-item-bad" }
            %td
              - if avail
                %a{href: url.to_s }
                  = text
              - else
                = text

      %table.table
        - image["image"]["versions"].each do |version|
          %tr
            %td
              %span{class: "glyphicon glyphicon-cog" }
            %td
              Version:
            %td
              = version["name"]
          %tr
            %td
            %td
              Sha256:
            %td
              %p{class: "biobox-sha256"}
                = version["sha256"]
          %tr
            %td
            %td
              Tasks:
            %td
              %ul
              - version["tasks"].each do |task|
                %li
                  = task